
parser/Files/input/demo.csv
parser/Files/input/test-sample.csv
parser/Files/output/demo.json
parser/Files/output/test-sample.json
__pycache__/*
templates/__pycache__/*
env/*
*.pyc
.DS_Store
test.json
*.pyc
