{% extends "layout.html" %} <!-- retrieve layout -->
{% block content %} <!-- lines up with the "block content" in layout.html -->
<div id="newDBForm" class="page-content">
   <form method="post" enctype="multipart/form-data">
   <!--<form action="" form method="post" enctype="multipart/form-data">" method="POST">-->
      <!-- p tag represents a paragraph.(seperate block of text) -->
      <fieldset>
      <legend>Enter a new database file:</legend>
      <!-- input is how we get forms from users -->
      <!-- "type" how we are recieving input.("submit is a button, text is a bar") -->
      <!-- "name" the name of the text request.form looks for -->
      <p><input type="file" name="passed_file" accept = ".json, application/json"></p>
      <p><input type="button" class="button_v1"  value = "Submit" onclick="document.getElementById('newDBForm').submit();"> </p>
      <p>Please allow some time for the database to update after submitting!</p>
    </fieldset>
   </form>
</div>
{% endblock content %} <!-- indicates "block content" is done -->